<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZWay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZWayJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0459ACD195DBC7D005E6EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0459AEF195DBC7E005E6EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0459B09195DBD76005E6EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0459B29195DBD76005E6EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A085F5121886C5F00061E721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A085F5461886C5F00061E721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
